.todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(31,31,31);
  margin: 2rem auto;
  margin-top: 0;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 55rem;
  max-width: 95%;
  border-radius: 12px;
  color: white;
}
.todo-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
